<% provide(:title, "About") %>

<a data-anchor-id="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/about.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text title serif clear-theme">About Us</p>
				<br>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="value">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="super-title light-blue-theme wide-serif">Why Chingari</p>
				<br>
				<p class="subtitle serif text-left container">
					"Chingari" in English means Spark. It is a Hindi as well as an Urdu word and South Asian poets use this word very enthusiastically.
					Spark is also anything that stimulates, activates, inspires, or acts as a catalyst.
					Spark means a small fiery particle thrown off from a fire, alight in ashes, or produced by striking together two hard surfaces such as stone or metal.
					According to different usages, it can also mean a trigger, a hope or a provocation.
				</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="testimonials">
	<p class="heading super-title light-blue-theme wide-serif text-center super-padded">
		Testimonials
	</p>
	<div class="row">

		<div class="col-lg-6 col-sm-12 testimony dark-blue-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Great initiative to help immigrants and women. Should be more organizations like that!"
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-orange-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Chingari is a wonderful platform that connects woman to resources and a supportive community. The work that they are doing is truly inspiring!"
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-orange-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"This is an amazing initiative and I would love to be a part of this community and also to give back truly to help other women."
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-blue-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"This is the best initiative for promotion and enlightenment of women"
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-blue-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Thank you Chingari for your service and support to people in need and specially for youth! Good luck"
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-orange-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Helping the spark of any woman to grow bright has a ripple effect of lighting a beacon for others. Chingari creates women leaders who will serve as a role model for other generations in years to come.""
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="founder">
	<p class="heading super-title light-blue-theme wide-serif text-center super-padded">
		Founder Story
	</p>
	<div class="row founder-display">
		<div class="col-lg-4 col-sm-12">
			<div class="banner-sm founder" style="background-image: url(<%= asset_path('team/Mahwish.jpg') %>)"></div>
		</div>
		<div class="col-lg-8 col-sm-12 light-theme">
			<div class="d-flex align-items-center wide-serif text-center">
				<div class="message text-justify">
					<p class="subtitle serif text-left container">
						Chingari was founded by Mahwish Yousaf, a single mother who faced many challenges coming from Pakistan at the age of 19, and settling in a new country and society.
						She didn't have enough knowledge about her legal rights in Pakistan and North America.
						She experienced that most of the resources were scattered and she didn't know where to seek help.
						Lack of community support was another challenge.
						She didn't know divorce, custody and inheritance rights and she faced many hardships and injustice by others.
					</p>
					<br>
					<p class="subtitle serif text-left container">
						Mahwish wants to provide a platform for local and immigrant women so that they can educate themselves about their rights and learn how they can become self-sufficient.
						Her team will provide information on business skills, legal rights, personal security, and crisis management.
						She has learned many things through the challenges she faced throughout her life, and she wants to help other women so they don't have to face similar challenges.
						They can become leaders of new generations, and share their light and knowledge with others.
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="team">
	<p class="heading super-title light-blue-theme wide-serif text-center super-padded">
		Our Team
	</p>
	<div class="team-display">

		<div class="row">
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/Mahwish.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Mahwish Yousaf
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/Koralewicz,Anita.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Anita Koralewicz
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member2.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Irfan Reayat
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member3.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Adil Imtiaz
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member4.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Rodica V
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member11.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Ashiya Khan-Sequeira
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/Samira.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Samira Shariati
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/jordan') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Jordan Kroll
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/ericmikulin.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Eric Mikulin
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/Nayara.png') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Nayara Soares
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member5.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					J Lin
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner-sm member inset-shadows" style="background-image: url(<%= asset_path('team/member8.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					B Chugg
				</div>
			</div>
		</div>

	</div>
</a>

<a data-anchor-id="involve">
	<p class="heading super-title light-blue-theme wide-serif text-center super-padded">
		Get Involved
	</p>
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="banner">
				<div class="row dark-blue-theme">
					<div class="d-flex align-items-center wide-serif text-center">
						<div class="message">
							<p class="subtitle">
								Here are some ways you can help:
							</p>
							<br>
							<ul class="subtitle text-left container indent">
								<li>Donate</li>
								<li>Volunteer</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 d-none d-lg-block banner" style="background-image: url(<%= asset_path('backgrounds/involve.png') %>)">
		</div>
	</div>
</a>
