<% provide(:title, "Public Speaking") %>

<a data-anchor-id="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/kane-reinholdtsen-145944-unsplash.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text title serif clear-theme">Public Speaking</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="columns">
	<div class="banner-sm columns">
		<div class="row wide-serif font-weight-bold text-center light-theme" style="height: 100%">
			<div class="message text-justify row d-flex align-items-top">
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/resources.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						No matter what industry you work in, or what role you play at your company, speaking and presenting is undoubtedly part of the job. 
					</p>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/daniel-monteiro-179263-unsplash.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						Learning to deliver a message with confidence and authority can only come with careful practice. 
					</p>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/catherine-mcmahon-10118-unsplash.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						Honing your public speaking skills can have a powerful impact on the more subtle interactions you face every day.
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="idea">
	<div class="banner-sm dark-blue-theme">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text super-title wide-sans-serif"><%= fa_icon "lightbulb-o 10x", text: "Tip" %></p>
				<p class="light-text subtitle sans-serif">
					Film yourself talking about a certain topic around your expertise. These con be short, 2-5 minute videos.
					<br>
					As you continue making videos, you'll see noticeable progress in your public speaking skills. 
				</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="objectives">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="col-lg-1 col-sm-0"></div>
			<div class="message text-center col-lg-10 col-sm-12">
				<p class="super-title light-blue-theme wide-serif">Online Resources:</p>
				<br>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Mo Monday</p>
					<p class="text text-justify text-left"></p>
					<p class="text text-justify text-left">
						Mo Mondays is for all kinds of people like you with great stories and life lessons to share for people who have never set a stage, to professional speakers...
						<span class="light-blue-theme">(View more)</span>
					</p>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">BIL Conference</p>
					<p class="text text-justify text-left"></p>
					<p class="text text-justify text-left">
						Vancouver is a community driven metropolis and the artists, innovators, movers and especially the shakers, power its beating heart. BIL events are powered the same...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Toastmasters International</p>
					<p class="text text-justify text-left"></p>
					<p class="text text-justify text-left">
						Toastmasters International is a world leader In communication and leadership development. Our organization...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Vancouver Story Slam</p>
					<p class="text text-justify text-left"></p>
					<p class="text text-justify text-left">
						Brush up your skills on story-telling. Storytellers share their original work onstage in an exciting competition for cash prizes and a shot at the annual...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Story Lie Game Show</p>
					<p class="text text-justify text-left"></p>
					<p class="text text-justify text-left">
						Vancouver Story Lie Game Show challenges the audience to spot the liar...
						<span class="light-blue-theme">(View more)</span>
				</p>
			</div>
			<div class="col-lg-1 col-sm-0"></div>
		</div>
	</div>
</a>

<a data-anchor-id="results">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="col-lg-1 col-sm-0"></div>
			<div class="message text-center col-lg-10 col-sm-12">
				<p class="super-title light-blue-theme wide-serif">Print Resources:</p>
				<br>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">How to Talk to Anyone: 92 Little Tricks for Big Success in Relationships</p>
					<p class="text text-justify text-left">By Leil Lowndes</p>
					<p class="text text-justify text-left">
							Leil Lowndes is the best-selling author of 10 books on communication skills and has spoken in every major dry in the US and many abroad.
							She has been called America's Communication Guru... 
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Art of the Pitch: Persuasion and Presentation Skills That Win Business</p>
					<p class="text text-justify text-left">By Peter Coughter</p>
					<p class="text text-justify text-left">
							The or of this narrative book has worked with some of the best advertising agencies in the world, so he knows the elements of a good pitch.
							Through relatable stories of real experiences, he walks...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">TED Talks: The Official TED Guide To Public Speaking</p>
					<p class="text text-justify text-left">By Chris Anderson</p>
					<p class="text text-justify text-left">
						TEDTalks are notoriously concise and powerful, and the head of TED shores his tips for taking your own presentations to the next level in this insights-packed book. He not only addresses the...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">To Sell Is Human: The Surprising Truth About Moving Others</p>
					<p class="text text-justify text-left">By Daniel H. Pink</p>
					<p class="text text-justify text-left">
						So many of our normal interactions are essentially acts of sales: we're convincing, persuading, and converting others to support our vision, opinion or plan. In this book, Daniel Pink unpacks...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">The Quick and Easy Way To Effective Speaking</p>
					<p class="text text-justify text-left">By Dale Carnegie</p>
					<p class="text text-justify text-left">
						This classic book, revised and updated, echoes the style of Carnegie's "How To Win Friends And Influence People". Carnegie gives insights into the ways thoughts affect your behavior...
						<span class="light-blue-theme">(View more)</span>
				</p>
				<p class="subtitle sans-serif container">
					<p class="title text-justify text-left">Speak to Win: How to Present with Power in Any Situation</p>
					<p class="text text-justify text-left">By Brian Tracy</p>
					<p class="text text-justify text-left">
						Tracy eaches you how to analyze on audience and pick up on the subtleties of audience dynamics. He also gives great insights into how to be a more persuasive public speaker and uses specific...
						<span class="light-blue-theme">(View more)</span>
				</p>
			</div>
			<div class="col-lg-1 col-sm-0"></div>
		</div>
	</div>
</a>