<% provide(:title, "About") %>
<%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>

<a name="feature">
	<div class="banner" style="background-image: url(<%= asset_path('backgrounds/about.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text title serif clear-theme">About Us</p>
				<br>
			</div>
		</div>
	</div>
</a>

<a name="value">
	<div class="banner">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="super-title light-blue-theme wide-serif font-weight-bold">Our Aim is to:</p>
				<br>
				<p class="title serif text-left container">
					"Chingari" in English means Spark. It is a Hindi as well as an Urdu word and South Asian poets use this word very enthusiastically.
					Spark is also anything that stiumulates, activates, inspires, or acts as a catalyst.
					Spark means a small fiery particle thrown off from a fire, alight in ashes, or produced by striking together two hard surfaces such as stone or metal.
					According to different usages, it can also mean a trigger, a hope or a provocation.
				</p>
			</div>
		</div>
	</div>
</a>

<a name="testimonials">
	<p class="heading super-title light-blue-theme wide-serif font-weight-bold text-center super-padded">
		Testimonials
	</p>
	<div class="row">
		<div class="col-lg-6 col-sm-12 testimony dark-blue-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"You don't HAVE to be filled with resentment, anger or helplessness. You COULD choose to feel something more pleasant, at least part of the time. And if you did choose to feel better about yourself, what do you think the result might be?"
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-orange-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Have you noticed how everybody takes it for granted a bad experience is automatically, unreservedly, unremittingly bad? That nothing good could ever come from a bad childhood, for example? I'm hearing the comment more and more often that we have become a victim society. Maybe this is true? Consider..."
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-12 testimony dark-blue-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Don't we hear these comments a lot? I was mistreated when I was a child... I was a lonely latchkey kid... My ancestors got a bad break, so I'm... I lived in a poor, disadvantaged family... I grew up in a broken home... I didn't get the proper advantages... I was constantly criticized as a child..."
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 testimony dark-orange-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
				<div class="message text-center container">
					<p class="subtitle">
						"Evert one of these comments sound a lot like self-pity, like "I can't be helped because I've been scarred beyond reclaim." Well, maybe all of the bare facts are true, but isn't it time to start looking for the positives that are buried in all that negative stuff? Usually self-reliant as adults."
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a name="founder">
	<p class="heading super-title light-blue-theme wide-serif font-weight-bold text-center super-padded">
		Founder Story
	</p>
	<div class="row founder-display">
		<div class="col-lg-5 col-sm-12">
			<div class="banner founder" style="background-image: url(<%= asset_path('team/founder.jpg') %>)"></div>
		</div>
		<div class="col-lg-7 col-sm-12 light-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
				<div class="message text-justify">
					<p class="title serif text-left container">
						Chingari was founded by Mahwish Yousaf, a single mother who faced many challenges coming from Pakistan at the age of 19, and settling in a new country a society.
						She didn't have enough knowledge about her legal rights in Pakistan and North America.
						She experienced that most of the resources were scattered and she didn't know where to seek help.
						Lack of community support was another challenge.
						She didn't know divorce, custody and inheritance rights and she faced many hardships and injustice by others.
					</p>
					<br>
					<p class="title serif text-left container">
						Mahwish wants to provide a platform for local and immigrant women so that they can educate themselves about their rights and learn how they can become self-sufficient.
						Her team will provide information on business skills, legal rights, personal secuirty, and crisis management.
						She has learnt many things through the challenges she faced throughout her life, and she wants to help other women so they don't have to face similar challenges.
						They can become leaders of new generations, and share their light and knowledge with others.
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a name="team">
	<p class="heading super-title light-blue-theme wide-serif font-weight-bold text-center super-padded">
		Our Team
	</p>
	<div class="team-display">

		<div class="row">
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/founder.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Mahwish Yousaf
					<br>
					Founder & CEO
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member1.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					David Aaron
					<br>
					Legal Advisor
				</div>				
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member2.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Irfan Reayat
					<br>
					Legal Writer/Editor
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member3.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Rizwan Ghulamhussein
					<br>
					Business Advisor
				</div>				
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member4.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Support Lead
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member5.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Counselor
				</div>				
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member6.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Case Manager
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member7.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Bushra Tariq
				</div>				
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member8.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Community Outreach Coordinator
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member9.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Program Manager
				</div>				
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member10.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					Community Outreach Specialist
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 text-center member-card">
				<div class="banner member" style="background-image: url(<%= asset_path('team/member11.jpg') %>)"></div>
				<div class="subtitle sans-serif light-blue-theme font-weight-bold">
					UI/UX Design
				</div>				
			</div>
		</div>

	</div>
</a>

<a name="involve">
	<p class="heading super-title light-blue-theme wide-serif font-weight-bold text-center super-padded">
		Get Involved
	</p>
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="banner">
				<div class="row dark-blue-theme">
					<div class="d-flex align-items-center wide-serif font-weight-bold text-center">
						<div class="message">
							<p class="title">
								Here are some ways you can help:
							</p>
							<br>
							<ul class="title text-left container indent">
								<li>Donate</li>
								<li>Volunteer</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 d-none d-lg-block banner" style="background-image: url(<%= asset_path('backgrounds/involve.png') %>)">
		</div>
	</div>
</a>