<% provide(:title, "Public Speaking") %>
<%= stylesheet_link_tag 'pages/public_speaking', media: 'all', 'data-turbolinks-track': 'reload' %>
<a data-anchor-id="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/kane-reinholdtsen-145944-unsplash.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text title serif clear-theme">Public Speaking</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="columns">
	<div class="banner-sm columns">
		<div class="row wide-serif font-weight-bold text-center light-theme" style="height: 100%">
			<div class="message text-justify row d-flex align-items-center">
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/resources.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/daniel-monteiro-179263-unsplash.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/catherine-mcmahon-10118-unsplash.jpg') %>)"></div>
					<p class="subtitle serif text-left container">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="idea">
	<div class="banner-sm dark-blue-theme">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text super-title wide-sans-serif"><%= fa_icon "lightbulb-o 10x", text: "Tip" %></p>
				<p class="light-text subtitle sans-serif">
					Fatima is married to "Mr. X".
					They have been married for the last five years.
					They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
					They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
				</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="objectives">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="super-title light-blue-theme wide-serif font-weight-bold">Objectives:</p>
				<br>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="results">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="super-title light-blue-theme wide-serif font-weight-bold">Results:</p>
				<br>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
				<p class="subtitle sans-serif container">
					<p class="super-title text-justify text-left">Goal</p>
					<p class="text text-justify text-left">
						Fatima is married to "Mr. X".
						They have been married for the last five years.
						They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
						They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</p>
			</div>
		</div>
	</div>
</a>