<% provide(:title, "Resources") %>

<a name="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/resources.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
				<p class="light-text title serif clear-theme">Resources</p>
				<br>
			</div>
		</div>
	</div>
</a>

<section>
<div id="accordion" class="light-blue-theme margin padded corners">
	<!-- Panel 1 -->
    <a data-anchor-id="immigration">
  	<div class="card resource-card">
    <div class="card-header" id="headingOne">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
				<%= image_tag("icons/immigration.png") %>
			</div>
			<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
				<h3>Immigration</h3>
				<p class="black-text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .
				</p>
			</div>
		</div>
	</div>

  	<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
		<p class="black-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			<ul>
				<li>Immigration Document</li>
				<li>Immigration Document</li>
				<li>Immigration Document</li>
				<li>Immigration Document</li>
				<li>Immigration Document</li>
			</ul>
		</p>
      </div>
    </div>

    <h4 class="card-button">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        </button>
    </h4>
  	</div>
    </a>
  	<!-- // Panel 1 -->

  	<!-- Panel 2 -->
    <a data-anchor-id="legal">
  	<div class="card resource-card">
    <div class="card-header" id="headingTwo">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
				<%= image_tag("icons/legal.png") %>
			</div>
			<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
				<h3>Legal Documents</h3>
				<p class="black-text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .
				</p>
			</div>
		</div>
	</div>

  	<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
		<p class="black-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			<ul>
				<li>Divorce</li>
				<li>Custody</li>
				<li>Child Support</li>
				<li>Spousal Support</li>
			</ul>
		</p>
      </div>
    </div>

    <h4 class="card-button">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        </button>
    </h4>
  	</div>
    </a>
  	<!-- // Panel 2 -->


  	<!-- Panel 3 -->
    <a data-anchor-id="women">
  	<div class="card resource-card">
    <div class="card-header" id="headingThree">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
				<%= image_tag("icons/women.png") %>
			</div>
			<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
				<h3>Women's Rights</h3>
				<p class="black-text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .
				</p>
			</div>
		</div>
	</div>

  	<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
		<p class="black-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			<ul>
				<li>Women's Rights</li>
				<li>Women's Rights</li>
				<li>Women's Rights</li>
			</ul>
		</p>
      </div>
    </div>

    <h4 class="card-button">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        </button>
    </h4>
  	</div>
    </a>
  	<!-- // Panel 3 -->

  	<!-- Panel 4 -->
    <a data-anchor-id="personal">
  	<div class="card resource-card">
    <div class="card-header" id="headingFour">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
				<%= image_tag("icons/personal.png") %>
			</div>
			<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
				<h3>Personal Development</h3>
				<p class="black-text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .
				</p>
			</div>
		</div>
	</div>

  	<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
		<p class="black-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			<ul>
				<li>Boundaries</li>
				<li>Mutual Self Respect</li>
				<li>Self-Esteem</li>
				<li>Self-Esteem</li>
				<li>Limitations</li>
				<li>Comfort Level</li>
				<li>Flexibility</li>
			</ul>
		</p>
      </div>
    </div>

    <h4 class="card-button">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        </button>
    </h4>
  	</div>
    </a>
  	<!-- // Panel 4 -->

  	<!-- Panel 5 -->
    <a data-anchor-id="professional">
  	<div class="card resource-card">
    <div class="card-header" id="headingFive">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
				<%= image_tag("icons/professional.png") %>
			</div>
			<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
				<h3>Professional Development</h3>
				<p class="black-text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .
				</p>
			</div>
		</div>
	</div>

  	<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
		<p class="black-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			<ul>
				<li>Finance</li>
				<li>Public Speaking</li>
				<li>Education</li>
				<li>Networking</li>
				<li>Awareness</li>
			</ul>
		</p>
      </div>
    </div>

    <h4 class="card-button">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        </button>
    </h4>
  	</div>
    </a>
  	<!-- // Panel 5 -->
</div>
</section>