<% provide(:title, "Resources") %>
<%= stylesheet_link_tag    '/assets/static_pages/resources', media: 'all', 'data-turbolinks-track': 'reload' %>

	<!-- Resources -->
	<div class="resources-page">
		<div class="about-banner-div">
			<div class="">
				<div class="about-banner-caption">
					<p>Resources</p>
				</div>
				<div class="">
					<%= image_tag("resources.jpg", class: "img-responsive") %>
				</div>
			</div>
		</div>

		<section>
			<div class="container resources-sec">
			    <div class="row">
			        <div class="col-md-12" id="main">
			            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			              
			            <!-- Panel 1 -->
			              <div class="panel">
			                <div class="panel-heading" role="tab" id="headingOne">
			                  	<div class="row">
			                  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
			                  			<%= image_tag("icon1.png") %>
			                  		</div>
			                  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
			                  			<h1>Immigration</h1>
			                  			<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .</p>
			                  		</div>
			                  	</div>
			                </div>
			                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			                  <div class="panel-body">
			                  <div class="row">
			                  		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
			                  			
			                  		</div>
			                  		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 right">
			                  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			                  			<ul>
			                  				<li>Immigration Document</li>
			                  				<li>Immigration Document</li>
			                  				<li>Immigration Document</li>
			                  				<li>Immigration Document</li>
			                  				<li>Immigration Document</li>
			                  			</ul>
			                  			</p>
			                  		</div>
			                  	</div>
			                </div>
			                </div>
			              </div>

			              <h4 class="panel-title">
			                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			                     
			                    </a>
			                  </h4>
			            <!-- // Panel 1 -->
			            <!-- Panel 2 -->
			              <div class="panel">
			                <div class="panel-heading" role="tab" id="headingTwo">
			                  	<div class="row">
			                  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
			                  			<%= image_tag("icon2.png") %>
			                  		</div>
			                  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
			                  			<h1>Legal Documents</h1>
			                  			<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .</p>
			                  		</div>
			                  	</div>
			                </div>
			                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			                  <div class="panel-body">
			                    <div class="row">
			                  		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
			                  			
			                  		</div>
			                  		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 right">
			                  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			                  			<ul>
			                  				<li>Divorce</li>
			                  				<li>Custody</li>
			                  				<li>Child Support</li>
			                  				<li>Spousal Support</li>
			                  			</ul>
			                  			</p>
			                  		</div>
			                  	</div>
			                  </div>
			                </div>
			            </div>
			            <h4 class="panel-title">
			                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			                    </a>
			                  </h4>
			            <!-- //Panel 2 -->
			            <!-- Panel 3 -->
			            <div class="panel">
			                <div class="panel-heading" role="tab" id="headingThree">
			                	<div class="row">
			                  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
			                  			<%= image_tag("icon3.png") %>
			                  		</div>
			                  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
			                  			<h1>Women's Rights</h1>
			                  			<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a .</p>
			                  		</div>
			                  	</div>
			                </div>
			                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			                  <div class="panel-body">
			                    <div class="row">
			                  		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
			                  			
			                  		</div>
			                  		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 right">
			                  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a.
			                  			<ul>
			                  				<li>Women's Rights</li>
			                  				<li>Women's Rights</li>
			                  				<li>Women's Rights</li>
			                  				
			                  			</ul>
			                  			</p>
			                  		</div>
			                  	</div>
			                  </div>
			                </div>
			              </div>
			              <h4 class="panel-title">
			                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			                    </a>
			                  </h4>
			            <!-- //Panel 3 -->


			            <!-- Panel 4 -->
			            <div class="panel">
			                <div class="panel-heading" role="tab" id="headingFour">
			                	<div class="row">
			                  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
			                  			<%= image_tag("icon4.png") %>
			                  		</div>
			                  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
			                  			<h1>Personal Development</h1>
			                  			<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</p>
			                  		</div>
			                  	</div>
			                </div>
			                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			                  <div class="panel-body">
			                    <div class="row">
			                  		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
			                  			
			                  		</div>
			                  		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 right">
			                  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			                  			<ul>
			                  				<li>Boundaries</li>
			                  				<li>Mutual Self Respect</li>
			                  				<li>Self-Esteem</li>
			                  				<li>Self-Esteem</li>
			                  				<li>Limitations</li>
			                  				<li>Comfort Level</li>
			                  				<li>Flexibility</li>
			                  				
			                  			</ul>
			                  			</p>
			                  		</div>
			                  	</div>
			                  </div>
			                </div>
			              </div>
			              <h4 class="panel-title">
			                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			                    </a>
			                  </h4>
			            <!-- //Panel 4 -->

			            <!-- Panel 5 -->
			            <div class="panel">
			                <div class="panel-heading" role="tab" id="headingFive">
			                	<div class="row">
			                  		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left">
			                  			<%= image_tag("icon5.png") %>
			                  		</div>
			                  		<div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 right">
			                  			<h1>Professional Development</h1>
			                  			<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</p>
			                  		</div>
			                  	</div>
			                </div>
			                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			                  <div class="panel-body">
			                    <div class="row">
			                  		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
			                  			
			                  		</div>
			                  		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 right">
			                  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			                  			<ul>
			                  				<li>Finance</li>
			                  				<li>Public Speaking</li>
			                  				<li>Education</li>
			                  				<li>Networking</li>
			                  				<li>Awareness</li>
			                  				
			                  			</ul>
			                  			</p>
			                  		</div>
			                  	</div>
			                  </div>
			                </div>
			              </div>
			              <h4 class="panel-title">
			                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			                    </a>
			                  </h4>
			            <!-- //Panel 5 -->


			            </div>
			        </div>
			    </div>
			<div>
		</section>
	</div>
	<!-- // Resources -->

		<div class="container back-to-top">
			<div class="row">
	        	<span class="scrolltotop"><i class="fa fa-chevron-up"></i></span>
					<p>Back to Top</p>
				</div>
		</div>
		<script>
		$('.scrolltotop').on('click', function() {
		          $('html, body').animate({ scrollTop: 0 }, 800);
		          return false;
		      });

		      $(document).scroll(function() {
		          var y = $(this).scrollTop();
		          if (y > 300) {
		              $('.scrolltotop').fadeIn();
		          } else {
		              $('.scrolltotop').fadeOut();
		          }
		      });
		</script>