<% provide(:title, "Fatima's Story") %>

<a data-anchor-id="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/story.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-7">
				<p class="light-text title serif clear-theme">Scenario: Fatima's Story</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="context">
	<div class="row context">
		<div class="col-lg-7 col-sm-12 light-theme">
			<div class="d-flex align-items-center wide-serif font-weight-bold text-center" style="height: 100%">
				<div class="message text-justify">
					<p class="subtitle serif text-left container">
						Fatima is married to "Mr. X".
            They have been married for the last five years.
            They immigrated to Canada three years ago, and have two children i.e. daughter and a son.
            They are both professionals working really hard to integrate themselves in Canadian society, and transition to their real professions.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-sm-12">
			<div class="banner circle inset-shadows" style="background-image: url(<%= asset_path('backgrounds/sweet-ice-cream-photography-267893-unsplash.jpg') %>); margin: auto"></div>
		</div>
	</div>
</a>

<div class="row">
	<div class="col-lg-6 d-none d-lg-block banner" style="background-image: url(<%= asset_path('backgrounds/melanie-wasser-233297-unsplash.jpg') %>)">
	</div>
	<div class="col-lg-6 col-sm-12">
		<a data-anchor-id="problem">
			<div class="banner">
				<div class="row">
					<div class="d-flex align-items-center dark-blue-theme wide-serif text-center">
						<div class="message">
							<p class="subtitle">
                The difficult journey towards their real profession is taking a toll on their relationship.
							</p>
							<br>
							<p class="subtitle">
                They face multiple barriers and a successful transition into their real professions seems to be very difficult.
							</p>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<a data-anchor-id="concerns">
	<div class="banner-sm">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-12">
        <p class="subtitle serif text-left container">
          They are frequently engaged in verbal arguments with each other over finances.
          On few occasions Mr X got physically abusive with Fatima.
          They come from a strong conservative family, and believes in keeping family together, and protecting her kids.
        </p>
        <p class="subtitle serif text-left container">
          Mr. X blames Fatima for everything and complains about her inability to manage finances.
          Lately, the physical abuse is getting more aggressive and violent.
          Fatima feels unsafe and insecure, however, she does not know what to do.
          She has tried to involve the elders from her country, her home, but things are not improving.
        </p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="decoration">
	<div class="banner" style="background-image: url(<%= asset_path('backgrounds/anton-darius-thesollers-271293-unsplash.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-7">
				<p class="light-text title serif clear-theme">Solutions</p>
			</div>
		</div>
	</div>
</a>


<a data-anchor-id="solutions">
  <div class="banner solutions" style="background-image: url(<%= asset_path('backgrounds/catherine-mcmahon-10118-unsplash.jpg') %>)">
    <div class="banner">
      <div class="row d-flex align-items-center">
        <div class="stretch">
          <div class="message" style="padding: 15vw 0px 15vw 0px;">
            <div class="grey-theme text-center super-padded">
              <p class="super-title wide-sans-serif text-center container">
                What Should Fatima Do?
                <br>
                Click below to see how Chingari can help
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choice-display banner">
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Try to work out the relationship
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Explore options
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Define boundaries
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle swide-ans-serif text-center stretch">
              Develop an action plan
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Counselling
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-blue-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Involve community
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="row d-flex align-items-center">
        <div class="stretch">
          <div class="message" style="padding: 15vw 0px 15vw 0px;">
            <div class="grey-theme text-center super-padded">
              <p class="super-title wide-sans-serif text-center container">
                What are Fatima's Concerns?
                <br>
                Click below to see how Chingari can help
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choice-display banner">
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Safety
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Finances
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Children
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle swide-ans-serif text-center stretch">
              Housing
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Right as a woman
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center option-card">
          <div class="banner option dark-orange-theme d-flex align-items-center">
            <div class="subtitle wide-sans-serif text-center stretch">
              Deportation
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="row d-flex align-items-center">
        <div class="message text-center col-sm-12">
          <p class="light-text title serif clear-theme">
            <a href="/resources">
              <button type="button" class="btn clear-theme clear-hover border button subtitle wide-sans-serif">
                View All Resources
              </button>
            </a>
          </p>
        </div>
      </div>
    </div>

	</div>
</a>