<% provide(:title, "Sign Up") %>
<%= stylesheet_link_tag 'pages/login', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="banner-sm" style="background-image: url(<%= asset_path('backgrounds/anton-darius-thesollers-271293-unsplash.jpg') %>)">
  <div class="row d-flex align-items-center">
    <div class="message text-center d-lg-none col-sm-12">
      <p class="light-text title serif clear-theme">New Account</p>
    </div>
    <div class="message text-center col-lg-6 col-sm-12">
      <p class="light-text title sans-serif clear-theme">

        <div class="shadow-box">
					<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages', object: @user %>

						<%= f.text_field :name, class: 'form-control input', placeholder: "Name" %>

						<%= f.text_field :username, class: 'form-control input', placeholder: "Username" %>

						<%= f.email_field :email, class: 'form-control input', placeholder: "Email" %>

						<%= f.password_field :password, class: 'form-control input', placeholder: "Password" %>

						<%= f.password_field :password_confirmation, class: 'form-control input', placeholder: "Confirm Password"  %>

						<%= f.submit "Create my account", class: "btn button border clear-theme clear-hover" %>
					<% end %>
        </div>

        <div class="shadow-box">
          Already have an account?
          <%= link_to "/login" do %>
            <button class="button">Log in here!</button>
          <% end %>
        </div>

      </p>
    </div>
    <div class="message text-center d-sm-none d-lg-block col-lg-6">
      <p class="light-text title serif clear-theme">New Account</p>
    </div>
  </div>
</div>
