<footer class="dark-blue-theme footer">
  <div class="row">
    <div class="col-lg-4 col-md-12 padded">
      <a data-anchor-id="contact">
        <div  class="title padded">Contact Us</div>
        <ul class="super-text">
            <li><%= fa_icon "phone", text: "1-800-123-4567", class: "fa-padded" %></li>
            <li><a href="mailto:hello@chingari.org"><%= fa_icon "envelope", text: "hello@chingari.org", class: "fa-padded" %></a></li>
            <!-- Site map is really unnecessary -->
            <!-- <li><a href="#">Site Map</a></li> -->
            <!-- Hide this until we have a mailing subscription service set up -->
            <!-- <li><a href="#">Join Our Mailing List</a></li> -->
        </ul>
        <div class="dark-orange-theme super-padded">
          Chingari does not provide emergency services.<br>If you are having an emergency please <b>call 911</b>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-12 padded">
      <a data-anchor-id="external">
        <div  class="title padded">Follow Us</div>
        <ul class="super-text">
            <li><a href="https://twitter.com/ChingariOrg"><%= fa_icon "twitter", text: "Twitter", class: "fa-padded" %></a></li>
            <li><a href="https://www.facebook.com/chingari.org/"><%= fa_icon "facebook", text: "Facebook", class: "fa-padded"  %></a></li>
            <li><a href="https://www.instagram.com/chingariorg/"><%= fa_icon "instagram", text: "Instagram", class: "fa-padded"  %></a></li>
        </ul>
      </a>
    </div>
    <div class="col-lg-4 col-md-12 padded">
      <a href="/home">
        <%= image_tag("logos/footer.png", class: "footer-logo") %>
      </a>
      <br>
      <a href="#page-top"><%= fa_icon "chevron-up", text: "Back to Top", class: "fa-padded"  %></a>
    </div>
  </div>
</footer>