<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
  <title>Chingari</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content="" />

  <%= stylesheet_link_tag    'static', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'static', 'data-turbolinks-track': 'reload' %>
    
    <!-- 
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet" href="css/animate.css">
    <link type="text/css" rel="stylesheet" href="css/site.css">

      <link rel="stylesheet" href="css/owl.carousel.css">
      <link rel="stylesheet" href="css/owl.theme.css">
      
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

      <script src="js/owl.carousel.js"></script> -->

  </head>

  <body>
    <!-- Render header -->
    <%= render 'layouts/header' %>
      <%= yield %>
    <!-- Render footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>